@model Mercedes_Matriz_de_Conhecimento.tblWorkzone

@{
    ViewBag.Title = "Index";
    ViewBag.Cols = 0;
}

@section Scripts{

    <script>
        function openModalTrain(idTrain, idFuncionario) {

            $.ajax({
                url: '@Url.Action("BuscarITem", "Matrix")',
                data: {
                    idTrain: idTrain,
                    idFuncionario: idFuncionario,
                }
            }).done(function (response) {
                var x = document.getElementById('listTraining');
                x.innerHTML = response;
                $("#itemID").selectpicker();
                $('#treinamento').modal('show');

            });
        }

        function openModalActiv(idActivity, idFuncionario) {
            $('#atividade').modal('show');

            //Mudar pro método de bsucarItemActivity
            location.href = '@Url.Action("BuscarITem", "Matrix")?idTrain='
                + idTrain.value + "&idFuncionario=" + idFuncionario.value;
        }

        function SaveMatrizTraining(idFuncionario, idTraining) {
            var itemID = document.getElementById("itemID");
            var idWorkzone = document.getElementById("idWorkzone");

            $.ajax({
                url: '@Url.Action("CreateMatrizTraining", "Matrix")',
                data: {
                    idItem: itemID.value,
                    idFuncionario: idFuncionario,
                    idTraining: idTraining,
                    idWorkzone: idWorkzone.value
                }
            }).done(function (response) {

            });
        }

        function teste() {
            console.log('teste');
        }
    </script>
}


@*<table>
    <thead>
        <tr>
            <th>Teste</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in (IEnumerable<tblMatrizWorkzone>)ViewBag.matriz)
        {
            <tr>
                <td>@m.tblMatrizFuncXAtividades</td>
            </tr>
        }

    </tbody>
</table>*@



<h2> v2</h2>
    <p>TT: @ViewBag.ttListCount</p>
    <p>T: @ViewBag.tListCount</p>
    <p>ATV: @ViewBag.activiesCount</p>

    <h2 class="text-center">@Model.Nome</h2>
    @Html.HiddenFor(w => w.IdWorkzone, new { id = "idWorkzone" })
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2"></th>
                <th colspan="@ViewBag.tListCount">Perfil</th>
                <th colspan="@ViewBag.activiesCount">Tarefas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                @foreach (var tt in (IEnumerable<tblTipoTreinamento>)ViewBag.ttList)
                {
                    <th colspan="@tt.tblTreinamento.Count" class="text-style">@tt.Nome</th>
                }

                @foreach (var a in (IEnumerable<tblMatrizFuncXAtividades>)ViewBag.activiesList)
                {
                    <th class="text-style">@a.tblAtividades.Sigla</th>
                }


            </tr>
            <tr>
                <th>Registro</th>
                <th>Nome</th>
                @foreach (var t in (IEnumerable<tblMatrizFuncXTreinamento>)ViewBag.trainingList)
                {
                    <th class="rotate">
                        <div>
                            <div class="rotation-wrapper-outer">
                                <div class="rotation-wrapper-inner">
                                    <span>@t.tblTreinamento.Nome</span>
                                </div>
                            </div>
                        </div>
                    </th>
                }

                @foreach (var a in (IEnumerable<tblMatrizFuncXAtividades>)ViewBag.activiesList)
                {
                    <th class="rotate">
                        <div>
                            <div class="rotation-wrapper-outer">
                                <div class="rotation-wrapper-inner">
                                    <span>@a.tblAtividades.Nome</span>
                                </div>
                            </div>
                        </div>
                    </th>
                }
            </tr>
            @foreach (var wzXFunc in Model.tblWorkzoneXFuncionario)
            {
                <tr>
                    <td class="text-style">@wzXFunc.tblFuncionarios.RE</td>
                    <td class="text-style">@wzXFunc.tblFuncionarios.Nome</td>
                    @foreach (var funcXtrein in (IEnumerable<tblMatrizFuncXTreinamento>)ViewBag.trainingList)//x3
                    {

                        if (wzXFunc.tblFuncionarios.tblMatrizFuncXTreinamento.Count > 0)
                        {
                            @wzXFunc.tblFuncionarios.tblMatrizFuncXTreinamento.Count
                            foreach (var matrizXTrein in wzXFunc.tblFuncionarios.tblMatrizFuncXTreinamento)// x2
                            {
                                if (@matrizXTrein.tblFuncionarios.idfuncionario == @funcXtrein.idFuncionario)
                                {

                                    <td onclick="openModalTrain(@funcXtrein.tblTreinamento.IdTreinamento,@wzXFunc.idFuncionario)" onload="teste()">
                                        @funcXtrein.tblTreinamento.IdTreinamento,@wzXFunc.idFuncionario:
                                        @if (@funcXtrein.tblPerfilItens != null)
                                        {
                                            @funcXtrein.tblPerfilItens.Sigla
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td onclick="openModalTrain(@funcXtrein.tblTreinamento.IdTreinamento,@wzXFunc.idFuncionario)" onload="teste()">
                                        HW @funcXtrein.tblTreinamento.IdTreinamento,@wzXFunc.idFuncionario:
                                        @if (@funcXtrein.tblPerfilItens != null)
                                        {
                                            @funcXtrein.tblPerfilItens.Sigla
                                        }
                                    </td>
                                }
                            }
                        }
                        else
                        {
                            <td onclick="openModalTrain(@funcXtrein.tblTreinamento.IdTreinamento,@wzXFunc.idFuncionario)" onload="teste()">
                                S/AVAL @funcXtrein.tblTreinamento.IdTreinamento,@wzXFunc.idFuncionario:

                            </td>
                        }
                    }
                    @foreach (var a in (IEnumerable<tblMatrizFuncXAtividades>)ViewBag.activiesList)
                    {
                        <td onclick="openModalActiv(@a.tblAtividades.idAtividade,@wzXFunc.idFuncionario)">
                            A: @a.tblAtividades.idAtividade,@wzXFunc.idFuncionario:
                            @if (@a.tblPerfilItens != null)
                            {
                                @a.tblPerfilItens.Sigla
                            }

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div id="listTraining">
        @{Html.RenderAction("BuscarITem", "Matrix", new { idTrain = 0, idFuncionario = 0 });}
    </div>
