@model Mercedes_Matriz_de_Conhecimento.tblWorkzone

@{
    ViewBag.Title = "Index";
    ViewBag.Cols = 0;
}

@section Scripts{

    <script>
        function openModalTrain(idTrain, idFuncionario) {

            $.ajax({
                url: '@Url.Action("BuscarITem", "Matrix")',
                data: {
                    idTrain: idTrain,
                    idFuncionario: idFuncionario,
                }
            }).done(function (response) {
                var x = document.getElementById('listTraining');
                x.innerHTML = response;
                $("#itemID").selectpicker();
                $('#treinamento').modal('show');

            });
        }

        function openModalActiv(idActivity, idFuncionario) {
            $('#atividade').modal('show');

            //Mudar pro método de bsucarItemActivity
            location.href = '@Url.Action("BuscarITem", "Matrix")?idTrain='
                + idTrain.value + "&idFuncionario=" + idFuncionario.value;
        }

        function SaveMatrizTraining(idFuncionario, idTraining) {
            var itemID = document.getElementById("itemID");
            var idWorkzone = document.getElementById("idWorkzone");

            $.ajax({
                url: '@Url.Action("CreateMatrizTraining", "Matrix")',
                data: {
                    idItem: itemID.value,
                    idFuncionario: idFuncionario,
                    idTraining: idTraining,
                    idWorkzone: idWorkzone.value
                }
            }).done(function (response) {

            });
        }

        function teste() {
            console.log('teste');
        }
    </script>
}


<p>TT: @ViewBag.ttListCount</p>
<p>T: @ViewBag.tListCount</p>
<p>ATV: @ViewBag.activiesCount</p>

<h2 class="text-center">@Model.Nome</h2>
@Html.HiddenFor(w => w.IdWorkzone, new { id = "idWorkzone" })
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2"></th>
            <th colspan="@ViewBag.tListCount">Perfil</th>
            <th colspan="@ViewBag.activiesCount">Tarefas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th></th>
            @foreach (var tt in (IEnumerable<tblTipoTreinamento>)ViewBag.ttList)
            {
                <th colspan="@tt.tblTreinamento.Count" class="text-style">@tt.Nome</th>
            }

            @foreach (var a in (IEnumerable<tblAtividades>)ViewBag.activiesList)
            {
                <th class="text-style">@a.Sigla</th>
            }


        </tr>
        <tr>
            <th>Registro</th>
            <th>Nome</th>
            @foreach (var t in (IEnumerable<tblTreinamento>)ViewBag.trainingList)
            {
                <th class="rotate">
                    <div>
                        <div class="rotation-wrapper-outer">
                            <div class="rotation-wrapper-inner">
                                <span>@t.Nome</span>
                            </div>
                        </div>
                    </div>
                </th>
            }

            @foreach (var a in (IEnumerable<tblAtividades>)ViewBag.activiesList)
            {
                <th class="rotate">
                    <div>
                        <div class="rotation-wrapper-outer">
                            <div class="rotation-wrapper-inner">
                                <span>@a.Nome</span>
                            </div>
                        </div>
                    </div>
                </th>
            }
        </tr>
        @foreach (var t in Model.tblWorkzoneXFuncionario)
            {
            <tr>
                <td class="text-style">@t.tblFuncionarios.RE</td>
                <td class="text-style">@t.tblFuncionarios.Nome</td>
                @foreach (var trein in (IEnumerable<tblTreinamento>)ViewBag.trainingList)
                {
                    <td onclick="openModalTrain(@trein.IdTreinamento,@t.idFuncionario)" onload="teste()"></td>
                }
                @foreach (var a in (IEnumerable<tblAtividades>)ViewBag.activiesList)
                {
                    <td onclick="openModalActiv(@a.idAtividade,@t.idFuncionario)"></td>
                }
            </tr>
        }
    </tbody>
</table>

<div id="listTraining">
    @{Html.RenderAction("BuscarITem", "Matrix", new { idTrain = 0, idFuncionario = 0 });}
</div>


@*  V1 ------------------ *@
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2> v1</h2>
<table class="table table-bordered">
    <thead class="sub-container-header">
        <tr>
            @foreach (var tt in (IEnumerable<tblTipoTreinamento>)ViewBag.ttList)
            {
                <td class="text-style">@tt.Nome</td>
            }
            @foreach (var a in (IEnumerable<tblAtividades>)ViewBag.activiesList)
            {
                <td class="text-style">@a.Sigla</td>
            }
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="container-default">
    <div class="sub-sub-container">
        <h4 class="container-size text-style text-style-bigger">Registro</h4>
        @foreach (var t in Model.tblWorkzoneXFuncionario)
        {
            <p class="text-style">@t.tblFuncionarios.RE</p>
        }
    </div>
    <div class="sub-container">
        <h4 class="container-size text-style text-style-bigger">Nome</h4>
        @foreach (var t in Model.tblWorkzoneXFuncionario)
        {
            <p class="text-style">@t.tblFuncionarios.Nome</p>
        }
    </div>

    <div class="sub-container-ativ container-size">
        @foreach (var t in (IEnumerable<tblTreinamento>)ViewBag.trainingList)
        {
            <p class="text-style vertical-text">@t.Nome</p>
        }
        @foreach (var a in (IEnumerable<tblAtividades>)ViewBag.activiesList)
        {
            <p class="text-style vertical-text">@a.Nome</p>
        }
    </div>
</div>

