@model Mercedes_Matriz_de_Conhecimento.tblWorkzone

@{
    ViewBag.Title = "Matriz";
    ViewBag.Cols = 0;
}

@section Scripts{

    <script>
        function openModalTrain(idTrain, idFuncionario) {

            $.ajax({
                url: '@Url.Action("BuscarITem", "Matrix")',
                data: {
                    idTrain: idTrain,
                    idFuncionario: idFuncionario,
                }
            }).done(function (response) {
                var x = document.getElementById('listTraining');
                x.innerHTML = response;
                $("#itemID").selectpicker();
                $('#treinamento').modal('show');

            });
        }

        function openModalActiv(idActivity, idFuncionario) {
            $.ajax({
                url: '@Url.Action("BuscarItemAtiv", "Matrix")',
                data: {
                    idActivity: idActivity,
                    idFuncionario: idFuncionario,
                }
            }).done(function (response) {
                var x = document.getElementById('listActivity');
                x.innerHTML = response;
                $("#itemAtivID").selectpicker();
                $('#atividade').modal('show');

            });
        }

        function SaveMatrizTraining(idFuncionario, idTraining) {
            var itemID = document.getElementById("itemID");
            var idWorkzone = document.getElementById("idWorkzone");

            $.ajax({
                url: '@Url.Action("CreateMatrizTraining", "Matrix")',
                data: {
                    idItem: itemID.value,
                    idFuncionario: idFuncionario,
                    idTraining: idTraining,
                    idWorkzone: idWorkzone.value
                }
            }).done(function (response) {
                $('#atividade').modal();
                location.reload();
            });
        }

        function DeleteMatrizTraining(idFuncionario, idTraining) {
            var idWorkzone = document.getElementById("idWorkzone");

            $.ajax({
                url: '@Url.Action("DeleteMatrizTraining", "Matrix")',
                data: {
                    idFuncionario: idFuncionario,
                    idTraining: idTraining,
                    idWorkzone: idWorkzone.value
                }
            }).done(function (response) {
                $('#atividade').modal();
                location.reload();
            });
        }

        function SaveMatrizActivity(idFuncionario, idActivity) {
            var itemID = document.getElementById("itemAtivID");
            var idWorkzone = document.getElementById("idWorkzone");

            $.ajax({
                url: '@Url.Action("CreateMatrizActivity", "Matrix")',
                data: {
                    idItem: itemID.value,
                    idFuncionario: idFuncionario,
                    idActivity: idActivity,
                    idWorkzone: idWorkzone.value
                }
            }).done(function (response) {
                $('#atividade').modal();
                location.reload();
            });
        }

        function DeleteMatrizActivity(idFuncionario, idActivity) {
            var idWorkzone = document.getElementById("idWorkzone");

            $.ajax({
                url: '@Url.Action("DeleteMatrizActivity", "Matrix")',
                data: {
                    idFuncionario: idFuncionario,
                    idActivity: idActivity,
                    idWorkzone: idWorkzone.value
                }
            }).done(function (response) {
                $('#atividade').modal();
                location.reload();
            });
        }

        function teste() {
            console.log('teste');
        }
    </script>
}



<h2> v2</h2>

<h2 class="text-center">@Model.Nome</h2>
@Html.HiddenFor(w => w.IdWorkzone, new { id = "idWorkzone" })
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2" class="no-border"></th>
            <th colspan="@ViewBag.tListCount" class="table-title">Perfil</th>
            <th colspan="@ViewBag.activiesCount" class="table-title">Tarefas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th></th>
            @foreach (var tt in (IEnumerable<tblTipoTreinamento>)ViewBag.ttList)
            {
                <th colspan="@tt.tblTreinamento.Count" class="text-style">@tt.Nome</th>
            }

            @foreach (var a in (IEnumerable<tblAtividades>)ViewBag.activiesList)
            {
                <th class="text-style">@a.Sigla</th>
            }


        </tr>
        <tr>
            <th>Registro</th>
            <th>Nome</th>
            @foreach (var t in (IEnumerable<tblTreinamento>)ViewBag.trainingList)
            {
                <th class="rotate">
                    <div>
                        <div class="rotation-wrapper-outer">
                            <div class="rotation-wrapper-inner">
                                <span>@t.Nome</span>
                            </div>
                        </div>
                    </div>
                </th>
            }

            @foreach (var a in (IEnumerable<tblAtividades>)ViewBag.activiesList)
            {
                <th class="rotate">
                    <div>
                        <div class="rotation-wrapper-outer">
                            <div class="rotation-wrapper-inner">
                                <span>@a.Nome</span>
                            </div>
                        </div>
                    </div>
                </th>
            }
        </tr>
        @foreach (var wzXFunc in Model.tblWorkzoneXFuncionario)
            {
            <tr>
                <td class="text-style">@wzXFunc.tblFuncionarios.RE</td>
                <td class="text-style">@wzXFunc.tblFuncionarios.Nome</td>
                @foreach (var trein in (IEnumerable<tblTreinamento>)ViewBag.trainingList)//x3
                {
                    var idTrainAdded = 0;
                    foreach (var t in trein.tblMatrizFuncXTreinamento)
                    {
                        if (t.idTreinamento == trein.IdTreinamento
                            && wzXFunc.idFuncionario == t.tblFuncionarios.idfuncionario)
                        {
                            idTrainAdded = @t.idTreinamento;

                            <td onclick="openModalTrain(@trein.IdTreinamento,@wzXFunc.idFuncionario)" class="text-center">
                                @*@trein.IdTreinamento,@wzXFunc.idFuncionario:*@
                                @if (@t.tblPerfilItens != null)
                                {
                                    @t.tblPerfilItens.Sigla
                                }
                            </td>
                        }

                    }
                    if (trein.IdTreinamento != idTrainAdded)
                    {
                        <td onclick="openModalTrain(@trein.IdTreinamento,@wzXFunc.idFuncionario)" class="text-center">
                            @*@trein.IdTreinamento,@wzXFunc.idFuncionario:*@
                        </td>
                    }
                }

                @foreach (var a in (IEnumerable<tblAtividades>)ViewBag.activiesList)
                {
                    var idActivAdded = 0;
                    foreach (var a2 in a.tblMatrizFuncXAtividades)
                    {

                        var trainamentosQtd = 0;
                        var avaliacoes = 0;

                        foreach (var treinInsideAtiv in a2.tblAtividades.tblAtividadeXTreinamentos)
                        {
                            trainamentosQtd = a2.tblAtividades.tblAtividadeXTreinamentos.Count;
                            //treinInsideAtiv.tblTreinamento.tblMatrizFuncXTreinamento
                            //    .Where(w => w.idFuncionario == wzXFunc.idFuncionario && treinInsideAtiv.tblTreinamento.IdTreinamento);
                            foreach (var aval in treinInsideAtiv.tblTreinamento.tblMatrizFuncXTreinamento)
                            {
                                if (treinInsideAtiv.idTreinamento == aval.idTreinamento && wzXFunc.idFuncionario == aval.idFuncionario)
                                {

                                    avaliacoes++;
                                }
                            }


                        }

                        if (a2.idAtividade == a.idAtividade
                            && wzXFunc.idFuncionario == a2.tblFuncionarios.idfuncionario)
                        {


                            if (trainamentosQtd == avaliacoes)
                            {
                                <td onclick="openModalActiv(@a.idAtividade,@wzXFunc.idFuncionario)" class="text-center bg-green">
                                    @*@trein.IdTreinamento,@wzXFunc.idFuncionario:*@
                                    @if (@a2.tblPerfilItens != null)
                                {
                                        @a2.tblPerfilItens.Sigla
                                    }
                                </td>
                            }
                            else
                            {
                                <td onclick="openModalActiv(@a.idAtividade,@wzXFunc.idFuncionario)" class="text-center bg-red">
                                    @*@trein.IdTreinamento,@wzXFunc.idFuncionario:*@
                                    @if (@a2.tblPerfilItens != null)
                                {
                                        @a2.tblPerfilItens.Sigla
                                    }
                                </td>
                            }

                            idActivAdded = @a2.idAtividade;
                        }

                    }

                    var avaliacao = 0;
                    foreach (var t in a.tblAtividadeXTreinamentos)
                    {
                        avaliacao+= t.tblTreinamento.tblMatrizFuncXTreinamento.Where(f => f.idFuncionario == wzXFunc.idFuncionario).Count();
                    }

                    if (a.idAtividade != idActivAdded)
                    {
                        if (a.tblAtividadeXTreinamentos.Count == avaliacao)
                        {
                            <td onclick="openModalActiv(@a.idAtividade,@wzXFunc.idFuncionario)" class="text-center bg-green">
                                @*@trein.IdTreinamento,@wzXFunc.idFuncionario:*@
                            </td>
                        }
                        else
                        {
                            <td onclick="openModalActiv(@a.idAtividade,@wzXFunc.idFuncionario)" class="text-center bg-gray">
                                @*@trein.IdTreinamento,@wzXFunc.idFuncionario:*@
                            </td>
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>

<div id="listTraining">
    @{Html.RenderAction("BuscarITem", "Matrix", new { idTrain = 0, idFuncionario = 0 });}
</div>

<div id="listActivity">
    @{Html.RenderAction("BuscarItemAtiv", "Matrix", new { idActivity = 0, idFuncionario = 0 });}
</div>
