@using PagedList.Mvc;
@model PagedList.IPagedList<Mercedes_Matriz_de_Conhecimento.tblTipoTreinamento>



@{
    ViewBag.Title = "TIPO DE TREINAMENTO";
}

@section scripts{
    <script type="text/javascript">

        function openModalTrainingType(value) {
            $("#delete-trein-profile").modal('show');
            console.log(value);

            document.getElementById("id-treinType").value = value;
        };

        function deleteTrainingType() {
            var id = document.getElementById("id-treinType").value;

            location.href = '@Url.Action("Delete", "TrainingType")?id=' + id;

        }
    </script>
}



<div class="container button-place">
    <a type="button" class="btn btn-modified-create btn-group-sm pull-left" href="@Url.Action("Create", "TrainingType")">
        <i class="fas fa-plus"></i> Cadastrar Tipo de Treinamento
    </a>
</div>
<div class="container table-place">
    <div class="panel panel-primary">
        <div class="panel-heading">Quantidade: @Model.TotalItemCount </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-hover table-condensed table-bordered text-center">
                <thead class="text-center">
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Sigla</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var trainingType in Model)
                    {
                        <tr class="text-center">
                            <td>@trainingType.Nome</td>
                            <td>@trainingType.Sigla</td>
                            <td>@trainingType.Descricao</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button class="btn" onclick="location.href='@Url.Action("Details","TrainingType",new { id = @trainingType.IdTipoTreinamento })'"><i class="glyphicon glyphicon-pencil  icon-edit-modified"></i></button>
                                    <button class="btn btn-danger" onclick="openModalTrainingType(@trainingType.IdTipoTreinamento)"><i class="glyphicon glyphicon-trash icon-delete-modified"></i></button>
                                    @*<button class="btn btn-danger" onclick="location.href='@Url.Action("Delete","TrainingType",  new { id = @trainingType.IdTipoTreinamento})'"><i class="glyphicon glyphicon-trash icon-delete-modified"></i></button>*@
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="page-pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        </div>
    </div>
</div>
@{Html.RenderPartial("ConfirmDelete");
}
