@model Mercedes_Matriz_de_Conhecimento.tblFuncionarios

@using System.Collections;


@{
    ViewBag.Title = "FUNCIONÁRIOS";
}

<h4> Cadastrar Funcionário</h4>

<div class="row">
    @using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        <div class="col-md-5">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Nome, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Nome)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("ID Americas", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.idAmericas, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RE, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.RE, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.idBu_Origem, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.idBu_Origem, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IdentificadorAuxiliar, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.IdentificadorAuxiliar, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-11">
                    <button type="submit" class="btn btn-modified-save btn-sm pull-right"><i class="fas fa-save"></i> Salvar</button>
                </div>
            </div>
        </div>

    }

</div>
<div class="row">
    <a type="button" class="btn btn-default" href="@Url.Action("Index", "Employee")"><i class="glyphicon glyphicon-arrow-left"></i> Retornar para Visualização</a>
</div>
