@model Mercedes_Matriz_de_Conhecimento.tblFuncionarios

@using System.Collections;

@{
    ViewBag.Title = "FUNCIONÁRIOS";
}

<h4> Funcionário</h4>

@using (Html.BeginForm("Edit", "Employee", new { id = Model.idfuncionario }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-5">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Nome, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("ID Americas", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.idAmericas, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RE, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.RE, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("BU Origem", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.idBu_Origem, new SelectList((IEnumerable)ViewData["BU"], "Value", "Text"), "Escolha uma BU",
                   new
                   {
                       @class = "form-control col-md-9 selectpicker",
                       data_show_subtext = "true",
                       data_live_search = "true"
                   })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IdentificadorAuxiliar, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.IdentificadorAuxiliar, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-11">
                    <button type="submit" class="btn btn-modified-save pull-right"><i class="fas fa-save"></i> Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <a type="button" class="btn btn-default" href="@Url.Action("Index", "Employee")"><i class="glyphicon glyphicon-arrow-left"></i> Retornar para Visualização</a>
    </div>
}
