@model IEnumerable<Mercedes_Matriz_de_Conhecimento.tblFuncionarios>


<!DOCTYPE html>

@section scripts{
    <script type="text/javascript">

        $(".delete").click(function () {
            $("#myModal").modal('show');
        })

    </script>
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @*@HtmlHelper.UnobtrusiveJavaScriptEnabled = true;*@

    <h2 class="text-center">Funcionários</h2>
    <div class="container table-place">
        <table class="table table-striped">
            <thead class="text-center">
                <tr class="table-dark">
                    <th class="text-center">Nome</th>
                    <th class="text-center">RE</th>
                    <th class="text-center">Workzone</th>
                    <th class="text-center">Identificador Auxiliar</th>
                    <th class="text-center"> </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var employee in Model)
                {
                    <tr class="text-center">
                        <td>@employee.Nome</td>
                        <td>@employee.RE</td>
                        <td>@employee.idWorkzone</td>
                        <td>@employee.IdentificadorAuxiliar</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-warning btn-group-sm" href="@Url.Action("Details","Employee",  new { id = @employee.idfuncionario})">Editar</a>
                                <a class="btn btn-default btn-group-sm delete" href="@Url.Action("Delete","Employee",  new { id = @employee.idfuncionario})">Excluir</a>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <!-- Button trigger modal -->
        <a id="newFunc" type="button" class="btn btn-primary btn-group-sm pull-right" href="@Url.Action("Create", "Employee")">
            Cadastrar Funcionário
        </a>
    </div>


</body>
</html>
