@model Mercedes_Matriz_de_Conhecimento.tblWorkzoneXAtividades

@using System.Collections;


@{
    ViewBag.Title = "ASSOCIAR POSTO DE TRABALHO X ATIVIDADE";
    ViewBag.Name = "";
    ViewBag.Ordem = "";
}

@section scripts
{
    <script>
        function searchActivity() {

            setTimeout(function () {
                var name = document.getElementById("nome");
                var workzone = document.getElementById("workzone");

                if (name.value.length > 3 || name.value.length == 0) {

                    $.ajax({
                        url: '@Url.Action("SearchActivity", "ActivityXWorkzone")',
                        data: {
                            idWorkzone: workzone.value,
                            nome: name.value
                        }
                    }).done(function (response) {
                        var x = document.getElementById('listaActiv');
                        x.innerHTML = response;
                        $('#listaActiv').innerHTML = response;
                        $("#nome").focus();
                    });
                }
            }, 1000)

        }

        function push(valueActivity) {
            var idWorkzone = document.getElementById("workzone");
            var Ordem = document.getElementById("Ordem");
            console.log(idWorkzone.value);
            console.log(valueActivity);
            location.href = '@Url.Action("Push", "ActivityXWorkzone")?idWorkzone=' + idWorkzone.value + '&idActivity=' + valueActivity + '&Ordem=' + Ordem.value;
        }

        function pop(valueActivity) {
            var idWorkzone = document.getElementById("workzone");
            console.log(idWorkzone.value);
            console.log(valueActivity);
            location.href = '@Url.Action("Pop", "ActivityXWorkzone")?idWorkzone=' + idWorkzone.value + '&idActivity=' + valueActivity;
        }
    </script>
}



<h4 class="">Posto de Trabalho X Atividade</h4>

<div class="row">

    @using (Html.BeginForm("Edit", "ActivityXWorkzone", new { id = Model.idWorkzoneAtividade }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="col-md-5">

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Ordem, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Ordem, new { @class = "form-control", id = "Ordem" , @type = "number" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Posto de Trabalho", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.HiddenFor(m => m.idWorkzone, new { @class = "form-control disabled", id = "workzone", @disabled = "disabled" })
                    @Html.TextBoxFor(m => m.tblWorkzone.Nome, new { @class = "form-control disabled", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-11">
                    @*<button type="submit" class="btn btn-modified-save pull-right"><i class="fas fa-save"></i> Salvar</button>*@
                </div>
            </div>

        </div>

    }


    <div id="listaActiv">
        @{Html.RenderAction("SearchActivity", "ActivityXWorkzone", new { idWorkzone = Model.idWorkzone, nome = ViewBag.Name });}
    </div>
</div>

<div class="row">
    <a type="button" class="btn btn-default" href="@Url.Action("Index", "ActivityXWorkzone")"><i class="glyphicon glyphicon-arrow-left"></i> Retornar para Visualização</a>
</div>