@model Mercedes_Matriz_de_Conhecimento.tblWorkzoneXAtividades

@using System.Collections;


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    @*<h3 class=""></h3>*@
    <h4 class=""><i class="fas fa-pencil-alt icon-edit-modified"></i> Workzone X Atividade</h4>

    <div class="row">

        @using (Html.BeginForm("Edit", "ActivityXWorkzone", new { id = Model.idWorkzoneAtividade }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            <div class="col-md-5">

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Ordem, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Ordem, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.idAtividade, new { @class = "col-md-3 control-label" })
                    <div class="col-md-8">
                        @* (IEnumerable<SelectListItem>)ViewBag.Campaign) *@
                        @Html.DropDownList("idAtividade", new SelectList((IEnumerable)ViewData["Activies"], "idAtividade", "Nome"), "Escolha uma Atividade",
                        new
                        {
                            @class = "form-control col-md-9 selectpicker",
                            data_show_subtext = "true",
                            data_live_search = "true"
                        })
                    </div>
                </div>
                @Model.idAtividade
                <div class="form-group">
                    @Html.LabelFor(m => m.idWorkzone, new { @class = "col-md-3 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownList("idWorkzone", new SelectList((IEnumerable)ViewData["Workzones"], "IdWorkzone", "Nome"), "Escolha uma Workzone",
                        new
                        {
                            @class = "form-control col-md-9 selectpicker",
                            data_show_subtext = "true",
                            data_live_search = "true"
                        })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-11">
                        <button type="submit" class="btn btn-modified-save pull-right"><i class="fas fa-save"></i> Salvar</button>
                    </div>
                </div>

            </div>

        }

    </div>

    <div class="row">
        <a type="button" class="btn btn-default" href="@Url.Action("Index", "ActivityXWorkzone")"><i class="glyphicon glyphicon-arrow-left"></i> Retornar para Visualização</a>
    </div>
</body>

</html>