@model Mercedes_Matriz_de_Conhecimento.tblMatrizWorkzoneHistorico

@using System.Collections
@using Mercedes_Matriz_de_Conhecimento.Models

@{
    ViewBag.title = "Histórico da Matriz";
}



<p><b>Histórico salvo por:</b> @Model.UsuarioCriacao</p>

<h2 class="text-center">@Model.nomeWorkzone - <b>BU: </b>@Model.BUWorkzone - <b>CC: </b>@Model.CCWorkzone -  @Model.DataCriacao</h2>
@Html.HiddenFor(w => w.idWorkzone, new { id = "idWorkzone" })
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="3" class="no-border"></th>
            <th colspan="@ViewBag.tListCount" class="table-title">Perfil</th>
            <th colspan="@ViewBag.activiesCount" class="table-title">Tarefas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="3" class="white-border"></th>
            @foreach (var tt in (IEnumerable<tblTipoTreinamento>)ViewBag.ttList)
            {
                <th colspan="@tt.tblTreinamento.Count" class="text-style">@tt.Nome</th>
            }

            @foreach (var a in (IEnumerable<tblAtividades>)ViewBag.activiesList)
            {
                <th class="text-style">@a.Sigla</th>
            }


        </tr>
        <tr>
            <th>Registro</th>
            <th>Nome</th>
            <th>BU</th>
            @foreach (var t in (IEnumerable<tblTreinamento>)ViewBag.trainingList)
            {
                <th class="rotate">
                    <div>
                        <div class="rotation-wrapper-outer">
                            <div class="rotation-wrapper-inner">
                                <span>@t.Nome</span>
                            </div>
                        </div>
                    </div>
                </th>
            }

            @foreach (var a in (IEnumerable<tblAtividades>)ViewBag.activiesList)
            {
                <th class="rotate">
                    <div>
                        <div class="rotation-wrapper-outer">
                            <div class="rotation-wrapper-inner">
                                <span>@a.Nome</span>
                            </div>
                        </div>
                    </div>
                </th>
            }
        </tr>
        @foreach (var func in (IEnumerable<tblFuncionarios>)ViewBag.funcionarios)
            {
            <tr>
                <td class="text-style">@func.RE</td>
                <td class="text-style">@func.Nome</td>
                <td class="text-style">@func.idBu_Origem</td>
                @foreach (var trein in (IEnumerable<tblTreinamento>)ViewBag.trainingList)//x3
                {

                    foreach (var at in (IEnumerable<AvaliacaoTreinamentoModel>)ViewBag.avalTreinList)
                    {
                        if (at.idTreinamento == trein.IdTreinamento && at.idFuncionario == func.idfuncionario)
                        {
                            <td onclick="openModalTrain(@at.idTreinamento,@at.idFuncionario)" class="text-center">
                                @if (@at.sigla.Count() > 0)
                            {
                                    @at.sigla
                                }
                            </td>
                        }

                    }

                }



                @foreach (var a in (IEnumerable<tblAtividades>)ViewBag.activiesList)
                {
                    foreach (var aa in (IEnumerable<AvaliacaoAtividadesModel>)ViewBag.avalAtivList)
                    {
                        if (aa.idAtividade == a.idAtividade && aa.idFuncionario == func.idfuncionario)
                        {
                            if (@aa.cor == null)
                            {
                                <td onclick="openModalTrain(@aa.idAtividade,@aa.idFuncionario)" bgColor="gray" class="text-center">
                                    @if (@aa.sigla.Count() > 0)
                                    {
                                        @aa.sigla
                                    }
                                </td>
                            }
                            else
                            {
                            <td onclick="openModalTrain(@aa.idAtividade,@aa.idFuncionario)" bgColor="@aa.cor" class="text-center">
                                @if (@aa.sigla.Count() > 0)
                            {
                                    @aa.sigla
                                }
                            </td>
                            }
                        }

                    }

                }
            </tr>
        }
    </tbody>
</table>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Usuário</th>
            <th>Motivo</th>
            <th>Funcionário</th>
            <th>Atividade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var w in Model.tblMatrizFuncActivityHistorico)
        {
            <tr>
                @if (w.alocacaoForcada != null)
                {
                    <td class="text-center">@Model.UsuarioCriacao</td>
                        <td class="text-center">@w.alocacaoForcada</td>
                        <td class="text-center">@w.nomeFuncionario</td>
                        <td class="text-center">@w.nomeAtividade</td>
                }
            </tr>
        }
    </tbody>
</table>