@using PagedList.Mvc;
@model PagedList.IPagedList<Mercedes_Matriz_de_Conhecimento.tblPerfis>


@{
    ViewBag.Title = "PERFIL DE ATIVIDADES";
}


<div class="container button-place">
    <a type="button" class="btn btn-modified-create btn-group-sm pull-left" href="@Url.Action("Create", "ActivityProfile")">
        <i class="fas fa-plus"></i> Cadastrar Perfil de Atividade
    </a>
</div>
<div class="container table-place">
    <div class="panel panel-primary">
        <div class="panel-heading">Quantidade: @Model.TotalItemCount </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-hover table-condensed table-bordered text-center">
                <thead class="text-center">
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Usuário de Criação</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var activityProfile in Model)
                    {
                        <tr class="text-center">
                            <td>@activityProfile.Nome</td>
                            <td>@activityProfile.UsuarioCriacao</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button class="btn" onclick="location.href='@Url.Action("Details","ActivityProfile",new { id = @activityProfile.IdPerfis })'"><i class="glyphicon glyphicon-pencil  icon-edit-modified"></i></button>
                                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete","ActivityProfile",  new { id = @activityProfile.IdPerfis})'"><i class="glyphicon glyphicon-trash icon-delete-modified"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="page-pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        </div>
    </div>
</div>