<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mercedes</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <img src="~/Imagens/logo-mercedes-branco.jpg" class="logo-mercedes img-responsive navbar-brand pull-left" />
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mercedes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visualização/Cadastro <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="teste">
                            <li>@Html.ActionLink("Funcionário", "Index", "Employee")</li>
                            <li>@Html.ActionLink("Workzone", "Index", "Workzone")</li>
                            <li>@Html.ActionLink("Treinamento", "Index", "Training")</li>
                            <li>@Html.ActionLink("Tipo de Treinamento", "Index", "TrainingType")</li>
                            <li>@Html.ActionLink("Perfil de Treinamento", "Index", "TrainingProfile")</li>
                            <li>@Html.ActionLink("Atividades", "Index", "Activity")</li>
                            <li>@Html.ActionLink("Perfil de Atividades", "Index", "ActivityProfile")</li>
                            <li>@Html.ActionLink("Item de Perfil de Atividades", "Index", "ActivityProfileItem")</li>
                            @*<li role="separator" class="divider"></li>*@
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Matriz de Conhecimento", "Index", "Matrix")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-container">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
