@model Mercedes_Matriz_de_Conhecimento.tblWorkzone

@using System.Collections;

@{
    ViewBag.Title = "POSTO DE TREINAMENTO";
    ViewBag.Name = "";
}


@section scripts
{
    <script>

        function searchFunc() {
            var name = document.getElementById("nome");
            var workzone = document.getElementById("workzone");

            if (name.value.length > 3) {
                $.ajax({
                    url: '@Url.Action("SearchUser", "Workzone")',
                    data: {
                        idWorkzone: workzone.value,
                        nome: name.value
                    }
                }).done(function (response) {
                    var url = '/Workzone/SearchUser'
                    var x = document.getElementById('listaFunc');
                    x.innerHTML = response;
                    $('#listaFunc').innerHTML = response;

                    console.log('response');
                    console.log(response);
                });
            }

        }
    </script>

}

<h4>Posto de Trabalho</h4>

<div class="row">

    @using (Html.BeginForm("Edit", "Workzone", new { id = Model.IdWorkzone }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="col-md-5">

            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.IdWorkzone, new { id = "workzone" });
            <div class="form-group">
                @Html.LabelFor(m => m.Nome, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Descricao, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FlagAtivo, new { @class = "col-md-3 control-label" })
                <div class="col-md-2">
                    @Html.CheckBoxFor(m => m.FlagAtivo, new { @class = "" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("BU", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.idBU, new SelectList((IEnumerable)ViewData["BU"], "Value", "Text"), "Escolha uma BU",
                    new
                    {
                        @class = "form-control col-md-9 selectpicker",
                        data_show_subtext = "true",
                        data_live_search = "true"
                    })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("CC", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.idCC, new SelectList((IEnumerable)ViewData["CC"], "Value", "Text"), "Escolha uma CC",
                    new
                    {
                        @class = "form-control col-md-9 selectpicker",
                        data_show_subtext = "true",
                        data_live_search = "true"
                    })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Linha", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.idLinha, new SelectList((IEnumerable)ViewData["LINHA"], "Value", "Text"), "Escolha uma Linha",
                    new
                    {
                        @class = "form-control col-md-9 selectpicker",
                        data_show_subtext = "true",
                        data_live_search = "true"
                    })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PessoasNecessarias, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.PessoasNecessarias, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MotivoUltimaAlteracao, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(m => m.MotivoUltimaAlteracao, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9">
                    <button type="submit" class="btn btn-modified-save pull-right"><i class="fas fa-save"></i> Salvar</button>
                </div>
            </div>
        </div>

    }

    <div id="listaFunc">
        @{Html.RenderAction("SearchUser", "Workzone", new { idWorkzone = Model.IdWorkzone, nome = ViewBag.Name });}
    </div>
</div>


<div class="row">
    <a type="button" class="btn btn-default" href="@Url.Action("Index", "Workzone", new { page = 1 })"><i class="glyphicon glyphicon-arrow-left"></i> Retornar para Visualização</a>
</div>