@model IEnumerable<Mercedes_Matriz_de_Conhecimento.tblWorkzone>


<!DOCTYPE html>

<script type="text/javascript">

</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2 class="text-center">Workzone</h2>
    <div class="container table-place">

        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Descrição</th>
                    <th class="text-center">Pessoas Necessárias</th>
                    <th class="text-center">Ativo</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var workzone in Model)
                {
                    <tr class="text-center">
                        <td>@workzone.Nome</td>
                        <td>@workzone.Descricao</td>
                        <td>@workzone.PessoasNecessarias</td>
                        @if (@workzone.FlagAtivo)
                        {
                            <td>Ativada</td>
                        }
                        else
                        {
                            <td>Desativada</td>
                        }
                        <td>
                            <div class="btn-group" role="group">
                                <button><a class="" href="@Url.Action("Details","Workzone",new { id = @workzone.IdWorkzone })"><i class="fas fa-pencil-alt icon-edit-modified"></i></a></button>
                                <button><a class="" href="@Url.Action("Delete","Workzone",  new { id = @workzone.IdWorkzone})"><i class="fas fa-trash icon-delete-modified"></i></a></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <a type="button" class="btn btn-modified-create btn-group-sm pull-right" href="@Url.Action("Create", "Workzone")">
            <i class="fas fa-plus"></i> Cadastrar Workzone
        </a>
    </div>

</body>
</html>
