@model IEnumerable<Mercedes_Matriz_de_Conhecimento.tblWorkzone>


@{
    ViewBag.Title = "WORKZONE";
}

<div class="container button-place">
    <a type="button" class="btn btn-modified-create btn-group-sm pull-left" href="@Url.Action("Create", "Workzone")">
        <i class="fas fa-plus"></i> Cadastrar Workzone
    </a>
</div>
<div class="container table-place">
    <div class="panel panel-primary">
        <div class="panel-heading">Quantidade: </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-hover table-condensed table-bordered text-center">
                <thead class="text-center">
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Pessoas Necessárias</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var workzone in Model)
                    {
                        <tr class="text-center">
                            <td>@workzone.Nome</td>
                            <td>@workzone.Descricao</td>
                            <td>@workzone.PessoasNecessarias</td>
                            @if (@workzone.FlagAtivo)
                            {
                                <td>Ativada</td>
                            }
                            else
                            {
                                <td>Desativada</td>
                            }
                            <td>
                                <div class="btn-group" role="group">
                                    <button class="btn" onclick="location.href='@Url.Action("Details","Workzone",new { id = @workzone.IdWorkzone })'"><i class="glyphicon glyphicon-pencil  icon-edit-modified"></i></button>
                                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete","Workzone",  new { id = @workzone.IdWorkzone})'"><i class="glyphicon glyphicon-trash icon-delete-modified"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
