@model IEnumerable<Mercedes_Matriz_de_Conhecimento.tblPerfilTreinamento>



@{
    ViewBag.Title = "PERFIL DE TREINAMENTO";
}



<div class="container button-place">
    <a type="button" class="btn btn-modified-create btn-group-sm pull-left" href="@Url.Action("Create", "TrainingProfile")">
        <i class="fas fa-plus"></i> Cadastrar Perfil de Treinamento
    </a>
</div>
<div class="container table-place">
    <div class="panel panel-primary">
        <div class="panel-heading">Quantidade: </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-hover table-condensed table-bordered text-center">
                <thead class="text-center">
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Usuário Criação</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var trainingProfile in Model)
                    {
                        <tr class="text-center">
                            <td>@trainingProfile.Nome</td>
                            <td>@trainingProfile.UsuarioCriacao</td>
                            <td>
                                <div class="" role="group">
                                    <button class="btn" onclick="lcoation.href='@Url.Action("Details","TrainingProfile",new { id = @trainingProfile.IdPerfilTreinamento })'"><i class="glyphicon glyphicon-pencil  icon-edit-modified"></i></button>
                                    <button class="btn btn-warning" onclick="lcoation.href='@Url.Action("Delete","TrainingProfile",  new { id = @trainingProfile.IdPerfilTreinamento})"><i class="glyphicon glyphicon-trash icon-delete-modified"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
