
@model  Mercedes_Matriz_de_Conhecimento.Models.ProfileItemListModel

<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">Itens de Pefil Existentes</div>
        <div class="panel-body pre-scrollable" id="func-all">
            <div class="list-group">
                @Html.TextBox("Name", (string)ViewBag.Name, new { @class = "form-control", oninput = "searchProfileItem()", id = "nome" })

                @foreach (var itens in (IEnumerable<tblPerfilItens>)Model.ProfileItem)
                {
                    <button type="button" class="list-group-item" onclick="push(@itens.IdPerfilItem)">@itens.Sigla</button>
                }
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">Itens de Pefil Adicionados</div>
        <div class="panel-body pre-scrollable">
            <div class="list-group">
                @foreach (var itensAdd in (IEnumerable<tblPerfilItens>)Model.ProfileItemAdded)
                {
                    <a type="button" class="list-group-item" href="@Url.Action("Pop", "PerfilTrainingItemXPerfilItem", new { idItem = @itensAdd.IdPerfilItem, idProfile = Model.idProfile})">@itensAdd.Sigla - @itensAdd.tblPerfilTreinamentoxPerfilItem.Where(i => i.IdPerfilItem == itensAdd.IdPerfilItem && i.IdPerfilTreinamento == Model.idProfile).FirstOrDefault().Ordem °</a>

                }
            </div>
        </div>
    </div>
</div>
