@model Mercedes_Matriz_de_Conhecimento.tblAtividadeXTreinamentos

@using System.Collections;

@{
    ViewBag.Title = "ATIVIDADE X TREINAMENTO";

}


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#training-list").css('display', 'none');
        });

        function selected() {
            var idActivity = document.getElementById("activity");
            location.href = '@Url.Action("Details", "ActivityXTraining")?idActivity=' + idActivity.value;
        }

       function push(valueTraining) {
            var idActivity = document.getElementById("activity");
            console.log(idActivity.value);
            console.log(valueTraining);
            location.href = '@Url.Action("Push", "ActivityXTraining")?idTraining=' + valueTraining + '&idActivity=' + idActivity.value;
        }

        function pop(valueTraining) {
            var idActivity = document.getElementById("activity");
            console.log(idActivity.value);
            console.log(valueTraining);
            location.href = '@Url.Action("Pop", "ActivityXTraining")?idTraining=' + valueTraining + '&idActivity=' + idActivity.value;
        }
    </script>
}

<h4 class="">Associar Treinamento X Atividade</h4>

<div class="row">

    @using (Html.BeginForm("Create", "ActivityXTraining", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

        <div class="col-md-5">

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Atividade", new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.idAtividade, new SelectList((IEnumerable)ViewData["Activies"], "idAtividade", "Nome"), "Escolha uma Atividade",
                        new
                        {
                            @class = "form-control col-md-9 selectpicker",
                            data_show_subtext = "true",
                            data_live_search = "true",
                            id = "activity"
                        })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-11">
                    <button type="button" id="selecionado" onclick="selected()" class="btn btn-modified-save pull-right"><i class="fas fa-save"></i> Selecionar Atividade</button>
                </div>
            </div>

        </div>

    }


</div>
<div class="row">
    <a type="button" class="btn btn-default" href="@Url.Action("Index", "ActivityXTraining")"><i class="glyphicon glyphicon-arrow-left"></i> Retornar para Visualização</a>
</div>