@model Mercedes_Matriz_de_Conhecimento.tblAtividadeXTreinamentos

@using System.Collections;



@{
    ViewBag.Title = "ATIVIDADE X TREINAMENTO";
    ViewBag.Nome = "";
    ViewBag.Ordem = "";
}

@section scripts
{
    <script>
        function searchTraining() {

            setTimeout(function () {
                var name = document.getElementById("nome");
                var activity = document.getElementById("activity");

                if (name.value.length > 3 || name.value.length == 0) {

                    $.ajax({
                        url: '@Url.Action("SearchTraining", "ActivityXTraining")',
                        data: {
                            idActivity: activity.value,
                            nome: name.value
                        }
                    }).done(function (response) {
                        var x = document.getElementById('listTraining');
                        x.innerHTML = response;
                        $('#listTraining').innerHTML = response;
                        $("#nome").focus(this.name);
                    });
                }
            }, 1000)

        }

      
        function push(valueTraining) {
            var idActivity = document.getElementById("activity");
            console.log(idActivity.value);
            console.log(valueTraining);
            location.href = '@Url.Action("Push", "ActivityXTraining")?idTraining=' + valueTraining + '&idActivity=' + idActivity.value;
        }

        function pop(valueTraining) {
            var idActivity = document.getElementById("activity");
            console.log(idActivity.value);
            console.log(valueTraining);
            location.href = '@Url.Action("Pop", "ActivityXTraining")?idTraining=' + valueTraining + '&idActivity=' + idActivity.value;
        }
    </script>
}


<h4>Treinamento X Atividade </h4>

<div class="row">



    <div class="col-md-5">

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Atividade", new { @class = "col-md-3 control-label" })
            <div class="col-md-8">
                @* (IEnumerable<SelectListItem>)ViewBag.Campaign) *@
                @Html.HiddenFor(m => m.idAtividade, new { @class = "form-control disabled", id = "activity", @disabled = "disabled" })
                @Html.TextBoxFor(m => m.tblAtividades.Nome, new { @class = "form-control disabled", @disabled = "disabled" })
            </div>
        </div>
        <br />
    </div>

    <div id="listTraining">
        @{Html.RenderAction("SearchTraining", "ActivityXTraining", new { idActivity = Model.idAtividade, nome = ViewBag.Name });}
    </div>



</div>
<div class="row">
    <a type="button" class="btn btn-default" href="@Url.Action("Index", "ActivityXTraining")"><i class="glyphicon glyphicon-arrow-left"></i> Retornar para Visualização</a>
</div>
