@model IEnumerable<Mercedes_Matriz_de_Conhecimento.tblAtividadeXTreinamentos>


<!DOCTYPE html>

<script type="text/javascript">

</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2 class="text-center">Treinamento X Atividade </h2>
    <div class="container table-place">

        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th class="text-center">Treinamento</th>
                    <th class="text-center">Atividade</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var activity in Model)
                {
                    <tr class="text-center">
                        <td>@activity.tblTreinamento.Nome</td>
                        <td>@activity.tblAtividades.Nome</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button onclick="location.href='@Url.Action("Details","ActivityXTraining",new { id = @activity.idAtivTreinamento })'"><i class="fas fa-pencil-alt icon-edit-modified"></i></button>
                                <button onclick="location.href='@Url.Action("Delete","ActivityXTraining",  new { id = @activity.idAtivTreinamento })'"><i class="fas fa-trash icon-delete-modified"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <a type="button" class="btn btn-modified-create btn-group-sm pull-right" href="@Url.Action("Create", "ActivityXTraining")">
            Associar Atividade X Treinamento
        </a>
    </div>

</body>
</html>
