@model Mercedes_Matriz_de_Conhecimento.tblTreinamento

@using System.Collections;


@{
    ViewBag.Title = "TREINAMENTO";
}



<h4 class="">Criar Treinamento</h4>

<div class="row">

    @using (Html.BeginForm("Create", "Training", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

        <div class="col-md-5">

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Nome, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Sigla, new { @class = "col-md-3 control-label" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Sigla, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Descricao, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                </div>
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(m => m.IndicaGrupoDeTreinamentos, new { @class = "col-md-3 control-label" })
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.IndicaGrupoDeTreinamentos, new { @class = "" })
                    </div>
                </div>*@
            <div class="form-group">
                @Html.Label("Tipo de Treinamento", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.idTipoTreinamento, new SelectList((IEnumerable)ViewData["TipoTreinamento"], "idTipoTreinamento", "Nome"), "Escolha um Tipo de Treinamento",
                        new
                        {
                            @class = "form-control col-md-9 selectpicker",
                            data_show_subtext = "true",
                            data_live_search = "true"
                        })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-modified-save pull-right"><i class="fas fa-save"></i> Salvar</button>
                </div>
            </div>

        </div>

    }

</div>
<div class="row">
    <a type="button" class="btn btn-default" href="@Url.Action("Index", "Training")"><i class="glyphicon glyphicon-arrow-left"></i> Retornar para Visualização</a>
</div>