@model Mercedes_Matriz_de_Conhecimento.tblTreinamento

@using System.Collections;

@section scripts{
    <script type="text/javascript">
        // Get the checkbox
        var checkBox = document.getElementById("IndicaGrupoDeTreinamentos");
        // Get the output text
        var text = document.getElementById("container-list");
        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
        console.log("teste");

        function funcaoTeste() {

            // Get the checkbox
            var checkBox = document.getElementById("IndicaGrupoDeTreinamentos");
            // Get the output text
            var text = document.getElementById("container-list");
            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                text.style.display = "block";
            } else {
                text.style.display = "none";
            }
            console.log("teste");
        }

    </script>
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <h4>Editar Treinamento</h4>

    <div class="row">

        @using (Html.BeginForm("Edit", "Training", new { id = Model.IdTreinamento }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            <div class="col-md-5">

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Nome, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Sigla, new { @class = "col-md-3 control-label" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Sigla, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Descricao, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IndicaGrupoDeTreinamentos, new { @class = "col-md-3 control-label" })
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.IndicaGrupoDeTreinamentos, new { @class = "check", onchange = "funcaoTeste()" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Tipo de Treinamento", new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.idTipoTreinamento, new SelectList((IEnumerable)ViewData["TipoTreinamento"], "idTipoTreinamento", "Nome"), "Escolha um Tipo de Treinamento",
                        new
                        {
                            @class = "form-control col-md-9 selectpicker",
                            data_show_subtext = "true",
                            data_live_search = "true"
                        })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success pull-right">Salvar</button>
                    </div>
                </div>

            </div>

        }

        <div id="container-list">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Treinamentos Existentes</div>
                <div class="panel-body pre-scrollable">
                    <div class="list-group">
                        @foreach (var allTrein in (IEnumerable<tblTreinamento>)ViewData["TodosTreinamentos"])
                        {
                            <a type="button" class="list-group-item" href="@Url.Action("Push", "Training", new { idDaddy = Model.IdTreinamento, idSon = @allTrein.IdTreinamento,})">@allTrein.Nome</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Treinamentos Adicionados</div>
                <div class="panel-body pre-scrollable">
                    <div class="list-group">
                        @foreach (var treinSon in (List<tblTreinamento>)ViewData["TreinamentosFilhos"])
                        {
                            <a type="button" class="list-group-item" href="@Url.Action("Pop", "Training", new { idDaddy = Model.IdTreinamento, idSon = @treinSon.IdTreinamento })">@treinSon.Nome</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        </div>
        @*@Url.Action("checkIfGroupTagIsTrue");*@
    </div>


    <div class="row">
        <a type="button" class="btn btn-default" href="@Url.Action("Index", "Training")"><i class="glyphicon glyphicon-arrow-left"></i> Retornar para Visualização</a>
    </div>
</body>

</html>