@using PagedList.Mvc;
@model PagedList.IPagedList<Mercedes_Matriz_de_Conhecimento.tblTreinamento>


@{
    ViewBag.Title = "TREINAMENTO";
}

@section scripts{
    <script type="text/javascript">

        function openModalTraining(value) {
            $("#delete-trein").modal('show');
            console.log(value);

            document.getElementById("id-trein").value = value;
        };

        function deleteTraining() {
            var id = document.getElementById("id-trein").value;

            location.href = '@Url.Action("Delete", "Training")?id=' + id;

        }
    </script>
}




<div class="container button-place">
    <a type="button" class="btn btn-modified-create btn-group-sm pull-left" href="@Url.Action("Create", "Training")">
        <i class="fas fa-plus"></i> Cadastrar Treinamento
    </a>
</div>
<div class="container table-place">
    <div class="panel panel-primary">
        <div class="panel-heading">Quantidade: @Model.TotalItemCount </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-hover table-condensed table-bordered text-center">
                <thead class="text-center">
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Sigla</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Tipo de Treinamento</th>
                        <th class="text-center">Perfil de Treinamento</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var training in Model)
                    {
                        <tr class="text-center">
                            <td>@training.Nome</td>
                            <td>@training.Sigla</td>
                            <td>@training.Descricao</td>
                            <td>@training.tblTipoTreinamento.Nome</td>
                            <td>@training.tblPerfis.Nome</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button class="btn" onclick="location.href='@Url.Action("Details","Training",new { id = @training.IdTreinamento })'"><i class="glyphicon glyphicon-pencil  icon-edit-modified"></i></button>
                                    <button class="btn btn-danger" onclick="openModalTraining(@training.IdTreinamento)"><i class="glyphicon glyphicon-trash icon-delete-modified"></i></button>
                                   @* <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete","Training",  new { id = @training.IdTreinamento})'"><i class="glyphicon glyphicon-trash icon-delete-modified"></i></button>*@
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="page-pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        </div>
    </div>
</div>
@{Html.RenderPartial("ConfirmDelete");
}
