@model IEnumerable<Mercedes_Matriz_de_Conhecimento.tblTreinamento>


<!DOCTYPE html>

<script type="text/javascript">

</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2 class="text-center">Treinamentos</h2>
    <div class="container table-place">

        <table class="table table-bordered">
            <thead class="text-center">
                <tr >
                    <th class="text-center">Nome</th>
                    <th class="text-center">Sigla</th>
                    <th class="text-center">Descrição</th>
                    <th class="text-center">Tipo de Treinamento</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var training in Model)
                {
                    <tr class="text-center">
                        <td>@training.Nome</td>
                        <td>@training.Sigla</td>
                        <td>@training.Descricao</td>
                        <td>@training.idTipoTreinamento</td> 
                        <td>
                            <div class="btn-group" role="group">
                                <button><a href="@Url.Action("Details","Training",new { id = @training.IdTreinamento })"><i class="fas fa-pencil-alt icon-edit-modified"></i></a></button>
                                <button><a href="@Url.Action("Delete","Training",  new { id = @training.IdTreinamento})"><i class="fas fa-trash icon-delete-modified"></i></a></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <a type="button" class="btn btn-modified-create btn-group-sm pull-right" href="@Url.Action("Create", "Training")">
            <i class="fas fa-plus"></i> Cadastrar Treinamento
        </a>
    </div>

</body>
</html>
